.body {
    padding-top: 30px;
    width: 100%;
    height: 100vh;
    background-color: #b8e5f8;
    background-image: url('image.png');
    background-size: cover;
    overflow: auto;
}

.logo {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.logo img {
    width: 128px;
    height: 81px;
    margin-bottom:24px ;
}

.logo div {
    margin: 0 auto;
    width: 128px;
    height: 81px;
}

.main {
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    width: 733px;
    height: 517px;
}

.leftmain {
    width: 332px;
    height: 100%;
}

.leftmainTop {
    height: 320px;
    text-align: center;
    padding-top: 98px;
}

.leftmainTop > div:first-child {
    font-weight: bold;
}

.leftmainTop > div:nth-of-type(2) {
    color: #373a40;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.leftmainTop > div:nth-of-type(3) img {
    width: 133px;
    height: auto;
}

.leftmainTop > div:nth-of-type(4) {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 600;
}

.leftmainBottom {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.leftmainBottom div {
    /*width: 100%;*/
    flex: 1;
}
.leftmainBottom button {
    border:1px #EBEBEB solid;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 29px;
    color: #444444;
    display: inline-block;
    line-height: 19px;
    background-color: rgb(255, 255, 255);
}

.leftmainBottom button:hover {
    background-color: #EBEBEB;
    cursor:pointer;
}

.rightmain {
    width: 401px;
    height: 100%;
    border-left:1px solid #ebebeb;
}

.change {
    display: flex;
    padding-left: 24px;
}

.yanzhengma {
    width: 80px;
    height: 49px;
    text-align: left;
    margin-top:16px;
    font-size: 16px;
    font-weight: 600;
    line-height:56px;
    margin-right: 24px;
    border-bottom: 4px solid rgb(5, 109, 232) ;
}

.mima {
    width: 80px;
    height: 49px;
    text-align: left;
    margin-top:16px;
    font-size: 16px;
    font-weight: 600;
    line-height:56px;
    margin-right: 24px;
    color:#666;
}

.register {
    width: 80px;
    height: 49px;
    text-align: left;
    margin-top:16px;
    font-size: 16px;
    font-weight: 600;
    line-height:56px;
    margin-right: 24px;
    color:#666;
}
